* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --bg-color: #fddfff;
    --text-color: #ff0099;
    --cor-primaria:#3da5ff;
    --cor-secundaria:#ff4646;
    --shadow: 0.5px 0.5px 10px #787878ff;
}

body.dark{
    --bg-color: #5400a7;
    --text-color: #a2fcf6;
    --cor-primaria:#00009c;
    --cor-secundaria:#1db18a;
    --shadow: 0.5px 0.5px 10px rgb(0, 0, 0);
}

a{
    text-decoration: none;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.container{
    text-align: center;
    width: 350px;
    margin: 60px auto;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

img.avatar{
    margin: 15px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: var(--cor-primaria) 4px solid;
    padding: 5px
}

h1{
    opacity: 0.8;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username{
    font-weight: 300;
    font-size: 17px;
    opacity: 0.6
}

ul{
    list-style: none;
    margin: 48px 0;
}

ul li a{
    height: 50px;
    margin: 8px auto;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-primaria);
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    border-radius: 20px;

    transition: background 425ms;
}

ul li a:hover{
    background: var(--cor-secundaria);
}

footer{
    font-family: 'Finlandica', sans-serif;
    opacity: 0.6;
    transition: opacity 500ms;
    padding: 15px;
}

footer a{
    color: #cd45ff;
}

footer:hover{
    opacity: 1;
}